@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap");
@import url("./react-grid-layout.css");
@import url("./react-resizable.css");

* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: #eff4f5;
}

a {
    text-decoration: none;
}

.react-grid-item {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.react-grid-item.react-grid-placeholder {
    background: #999 !important;
}
.react-grid-item > .react-resizable-handle::after {
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 0 1px 1px 0;
}
