@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#eff4f5;
}

a {
    text-decoration: none;
}

.react-grid-item {
    background-color:#fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
    border-radius:6px;
}
.react-grid-item.react-grid-placeholder {
    background: #999;
}
.react-grid-item > .react-resizable-handle::after {
    border-color:rgba(255, 255, 255, 0.7);
    border-width:0 1px 1px 0;
}